body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  overflow: hidden;
}

.charactor {
  width: 100px; /* 프레임 하나의 실제 너비 */
  height: 100px; /* 프레임 하나의 실제 높이 */
  background-image: url("/public/boy.png"); /* 너가 받은 스프라이트 */
  background-repeat: no-repeat;

  /* 전체 스프라이트 시트의 가로 길이 = 프레임 8개 */
  background-size: 800px 100px; /* (100px * 8프레임) */

  animation: soldier-walk 0.8s steps(8) infinite;
  /* transition: 3.32s ease-in-out; */
}

.bg {
  position: absolute;
  inset: 0;

  /* 메인: 꽉 채움(조금 잘림 허용) */
  background-image: url("/public//bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transform-origin: center;
}

/* 걷는 애니메이션 */
@keyframes soldier-walk {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -800px 0;
  }
}

@keyframes pop {
  0% {
    transform: translate(-50%, -80%) scale(0.85);
  }
  60% {
    transform: translate(-50%, -80%) scale(1.25);
  }
  100% {
    transform: translate(-50%, -80%) scale(1);
  }
}
